@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(241, 245, 241);
}

@keyframes dot-animation {
  0% { content: ''; opacity: 0.2; }
  33% { content: '.'; opacity: 0.5; }
  66% { content: '..'; opacity: 0.8; }
  100% { content: '...'; opacity: 1; }
}

.dot-animate::after {
  content: '';
  animation: dot-animation 1.5s infinite linear;
}